In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gdown

# Dataset CadUnico #1

https://repositorio.seade.gov.br/dataset/objetivo-estrategico-4-assistencia-social

In [2]:
df1 = pd.read_csv("oe04_gini.csv", sep = ";")
df2 = pd.read_csv("oe04_rend_dom_ate_meio_sm.csv", sep = ";")
df3 = pd.read_csv("oe04_fam_situacao_rua.csv", sep = ";")
df4 = pd.read_csv("oe04_rend_cadunico_meio_sm.csv", sep = ";")

Nessa seção, foi feita uma análise inicial dos dados. Foi possivel observar que temos 12 anos de informação em todos datasets, embora esses anos variem de acordo com o dataset (alguns sao de 2012 a 2023, alguns são de 2013 a 2024). Também verificamos que não existem dados nulos neste dataset, e que os dados municipais estão completos, incluindo com todos os anos que falamos que estão inclusos.

## Gini -> Estatal (2012 - 2023)

In [3]:
df1.head()

    ano  cod_ibge ind_gini
0  2023        35    0,504
1  2022        35      0,5
2  2021        35    0,533
3  2020        35    0,522
4  2019        35    0,526

In [4]:
df1.shape

(12, 3)

In [5]:
df1.isnull().sum()

ano         0
cod_ibge    0
ind_gini    0
dtype: int64

Esse DataSet possui o indice de Gini para o Estado de São Paulo de 2012 a 2023

##Renda - Domiciliar PerCapita abaixo de 1/2 SM -> Por Região de SP (2012 - 2023)

In [6]:
df2.head()

    ano regiao_sp  pop_rd_ate_meio_sm  pop_pnadc perc_rd_ate_meio_sm
0  2023       ESP             7542004   47315515                15,9
1  2022       ESP             8594777   46972977                18,3
2  2021       ESP            10430493   46623128                22,4
3  2020       ESP             8906112   46269533                19,2
4  2019       ESP             7744515   45888809                16,9

In [7]:
df2.shape

(36, 5)

In [8]:
df2.isnull().sum()

ano                    0
regiao_sp              0
pop_rd_ate_meio_sm     0
pop_pnadc              0
perc_rd_ate_meio_sm    0
dtype: int64

Esse Dataset possui a populacao ate meio salario minimo, por regiao de sao paulo, de 2012 a 2023

## Famílias em Situação de Rua -> Municipal (2013 - 2024)

In [9]:
df3.head()

    ano  cod_ibge  n_fam_rua
0  2024        35     135257
1  2023        35     103083
2  2022        35      80551
3  2021        35      62553
4  2020        35      61333

In [10]:
df3.cod_ibge.unique()

array([     35, 3500105, 3500204, 3500303, 3500402, 3500501, 3500550,
       3500600, 3500709, 3500758, 3500808, 3500907, 3501004, 3501103,
       3501152, 3501202, 3501301, 3501400, 3501509, 3501608, 3501707,
       3501806, 3501905, 3502002, 3502101, 3502200, 3502309, 3502408,
       3502507, 3502606, 3502705, 3502754, 3502804, 3502903, 3503000,
       3503109, 3503158, 3503208, 3503307, 3503356, 3503406, 3503505,
       3503604, 3503703, 3503802, 3503901, 3503950, 3504008, 3504107,
       3504206, 3504305, 3504404, 3504503, 3504602, 3504701, 3504800,
       3504909, 3505005, 3505104, 3505203, 3505302, 3505351, 3505401,
       3505500, 3505609, 3505708, 3505807, 3505906, 3506003, 3506102,
       3506201, 3506300, 3506359, 3506409, 3506508, 3506607, 3506706,
       3506805, 3506904, 3507001, 3507100, 3507159, 3507209, 3507308,
       3507407, 3507456, 3507506, 3507605, 3507704, 3507753, 3507803,
       3507902, 3508009, 3508108, 3508207, 3508306, 3508405, 3508504,
       3508603, 3508702, 3508801, 3508900, 3509007, 3509106, 3509205,
       3509254, 3509304, 3509403, 3509452, 3509502, 3509601, 3509700,
       3509809, 3509908, 3509957, 3510005, 3510104, 3510153, 3510203,
       3510302, 3510401, 3510500, 3510609, 3510708, 3510807, 3510906,
       3511003, 3511102, 3511201, 3511300, 3511409, 3511508, 3511607,
       3511706, 3511904, 3512001, 3512100, 3512209, 3512308, 3512407,
       3512506, 3512605, 3512704, 3512803, 3512902, 3513009, 3513108,
       3513207, 3513306, 3513405, 3513504, 3513603, 3513702, 3513801,
       3513850, 3513900, 3514007, 3514106, 3514205, 3514304, 3514403,
       3514502, 3514601, 3514700, 3514809, 3514908, 3514924, 3514957,
       3515004, 3515103, 3515129, 3515152, 3515186, 3515194, 3515202,
       3515301, 3515350, 3515400, 3515509, 3515608, 3515657, 3515707,
       3515806, 3515905, 3516002, 3516101, 3516200, 3516309, 3516408,
       3516507, 3516606, 3516705, 3516804, 3516853, 3516903, 3517000,
       3517109, 3517208, 3517307, 3517406, 3517505, 3517604, 3517703,
       3517802, 3517901, 3518008, 3518107, 3518206, 3518305, 3518404,
       3518503, 3518602, 3518701, 3518800, 3518859, 3518909, 3519006,
       3519055, 3519071, 3519105, 3519204, 3519253, 3519303, 3519402,
       3519501, 3519600, 3519709, 3519808, 3519907, 3520004, 3520103,
       3520202, 3520301, 3520400, 3520426, 3520442, 3520509, 3520608,
       3520707, 3520806, 3520905, 3521002, 3521101, 3521150, 3521200,
       3521309, 3521408, 3521507, 3521606, 3521705, 3521804, 3521903,
       3522000, 3522109, 3522158, 3522208, 3522307, 3522406, 3522505,
       3522604, 3522653, 3522703, 3522802, 3522901, 3523008, 3523107,
       3523206, 3523305, 3523404, 3523503, 3523602, 3523701, 3523800,
       3523909, 3524006, 3524105, 3524204, 3524303, 3524402, 3524501,
       3524600, 3524709, 3524808, 3524907, 3525003, 3525102, 3525201,
       3525300, 3525409, 3525508, 3525607, 3525706, 3525805, 3525854,
       3525904, 3526001, 3526100, 3526209, 3526308, 3526407, 3526506,
       3526605, 3526704, 3526803, 3526902, 3527009, 3527108, 3527207,
       3527256, 3527306, 3527405, 3527504, 3527603, 3527702, 3527801,
       3527900, 3528007, 3528106, 3528205, 3528304, 3528403, 3528502,
       3528601, 3528700, 3528809, 3528858, 3528908, 3529005, 3529104,
       3529203, 3529302, 3529401, 3529500, 3529609, 3529658, 3529708,
       3529807, 3529906, 3530003, 3530102, 3530201, 3530300, 3530409,
       3530508, 3530607, 3530706, 3530805, 3530904, 3531001, 3531100,
       3531209, 3531308, 3531407, 3531506, 3531605, 3531704, 3531803,
       3531902, 3532009, 3532058, 3532108, 3532157, 3532207, 3532306,
       3532405, 3532504, 3532603, 3532702, 3532801, 3532827, 3532843,
       3532868, 3532900, 3533007, 3533106, 3533205, 3533254, 3533304,
       3533403, 3533502, 3533601, 3533700, 3533809, 3533908, 3534005,
       3534104, 3534203, 3534302, 3534401, 3534500, 3534609, 3534708,
       3534757, 3534807, 3534906, 3535002, 3535101, 3535200, 3535309,
       3535408, 3535507, 3535606, 3535705, 3535804, 3535903, 3536000,
       3536109, 3536208, 3536257, 3536307, 3536406, 3536505, 3536570,
       3536604, 3536703, 3536802, 3536901, 3537008, 3537107, 3537156,
       3537206, 3537305, 3537404, 3537503, 3537602, 3537701, 3537800,
       3537909, 3538006, 3538105, 3538204, 3538303, 3538501, 3538600,
       3538709, 3538808, 3538907, 3539004, 3539103, 3539202, 3539301,
       3539400, 3539509, 3539608, 3539707, 3539806, 3539905, 3540002,
       3540101, 3540200, 3540259, 3540309, 3540408, 3540507, 3540606,
       3540705, 3540754, 3540804, 3540853, 3540903, 3541000, 3541059,
       3541109, 3541208, 3541307, 3541406, 3541505, 3541604, 3541653,
       3541703, 3541802, 3541901, 3542008, 3542107, 3542206, 3542305,
       3542404, 3542503, 3542602, 3542701, 3542800, 3542909, 3543006,
       3543105, 3543204, 3543238, 3543253, 3543303, 3543402, 3543501,
       3543600, 3543709, 3543808, 3543907, 3544004, 3544103, 3544202,
       3544251, 3544301, 3544400, 3544509, 3544608, 3544707, 3544806,
       3544905, 3545001, 3545100, 3545159, 3545209, 3545308, 3545407,
       3545506, 3545605, 3545704, 3545803, 3546009, 3546108, 3546207,
       3546256, 3546306, 3546405, 3546504, 3546603, 3546702, 3546801,
       3546900, 3547007, 3547106, 3547205, 3547304, 3547403, 3547502,
       3547601, 3547650, 3547700, 3547809, 3547908, 3548005, 3548054,
       3548104, 3548203, 3548302, 3548401, 3548500, 3548609, 3548708,
       3548807, 3548906, 3549003, 3549102, 3549201, 3549250, 3549300,
       3549409, 3549508, 3549607, 3549706, 3549805, 3549904, 3549953,
       3550001, 3550100, 3550209, 3550308, 3550407, 3550506, 3550605,
       3550704, 3550803, 3550902, 3551009, 3551108, 3551207, 3551306,
       3551405, 3551504, 3551603, 3551702, 3551801, 3551900, 3552007,
       3552106, 3552205, 3552304, 3552403, 3552502, 3552551, 3552601,
       3552700, 3552809, 3552908, 3553005, 3553104, 3553203, 3553302,
       3553401, 3553500, 3553609, 3553658, 3553708, 3553807, 3553856,
       3553906, 3553955, 3554003, 3554102, 3554201, 3554300, 3554409,
       3554508, 3554607, 3554656, 3554706, 3554755, 3554805, 3554904,
       3554953, 3555000, 3555109, 3555208, 3555307, 3555356, 3555406,
       3555505, 3555604, 3555703, 3555802, 3555901, 3556008, 3556107,
       3556206, 3556305, 3556354, 3556404, 3556453, 3556503, 3556602,
       3556701, 3556800, 3556909, 3556958, 3557006, 3557105, 3557154,
       3557204, 3557303])

In [11]:
df3.shape

(7752, 3)

In [12]:
# Filtra os anos do df3
df3_restrito = df3[(df3['ano'] == 2013) | (df3['ano'] == 2014) | (df3['ano'] == 2015) | (df3['ano'] == 2016) | (df3['ano'] == 2017) | (df3['ano'] == 2018) | (df3['ano'] == 2019) | (df3['ano'] == 2020)].copy()

display(df3_restrito.shape)

(5168, 3)

In [13]:
# Número de Códigos IBGE
num_unique_ibge_df3 = df3['cod_ibge'].nunique()
print(f"Number of unique IBGE codes in df3: {num_unique_ibge_df3}")

Number of unique IBGE codes in df3: 646

In [14]:
# Anos Esperados
expected_years_range = set(range(2013, 2025))

#conferir se todos os anos possuem informacao para todos municipios
years_by_ibge = df3.groupby('cod_ibge')['ano'].unique()
all_years_match = (years_by_ibge.apply(lambda x: set(x) == expected_years_range)).all()

if all_years_match:
    print("Todos municípios tem dados para todos os anos esperados.")

Todos municípios tem dados para todos os anos esperados.

In [15]:
df3.isnull().sum()

ano          0
cod_ibge     0
n_fam_rua    0
dtype: int64

In [16]:
df3_restrito.query('cod_ibge != 35')

       ano  cod_ibge  n_fam_rua
2592  2020   3500105          5
2593  2020   3500204          2
2594  2020   3500303          3
2595  2020   3500402          3
2596  2020   3500501          4
...    ...       ...        ...
7747  2013   3557006          5
7748  2013   3557105          0
7749  2013   3557154          0
7750  2013   3557204          0
7751  2013   3557303          0

[5160 rows x 3 columns]

## Renda - Domiciliar PerCapita abaixo de 1/2 SM -> Municipal (2013 - 2024)

In [17]:
df4.head()

    ano  cod_ibge  pes_rf_ate_meio_sm  pes_insc_cadun perc_rf_ate_meio_sm
0  2024        35             9329191        14061964                66,3
1  2023        35            10068823        14831766                67,9
2  2022        35            11326070        13910888                81,4
3  2021        35             9596213        11893122                80,7
4  2020        35             8524275        10685553                79,8

In [18]:
df4.shape

(7752, 5)

In [19]:
# Número de anos
num_unique_ano_df4 = df4['ano'].nunique()
print(f"Number of anos df3: {num_unique_ano_df4}")

Number of anos df3: 12

In [20]:
# Número de Códigos IBGE
num_unique_ibge_df4 = df4['cod_ibge'].nunique()
print(f"Number of unique IBGE codes in df3: {num_unique_ibge_df4}")

Number of unique IBGE codes in df3: 646

In [21]:
expected_years_range = set(range(2013, 2025))

years_by_ibge = df4.groupby('cod_ibge')['ano'].unique()
all_years_match = (years_by_ibge.apply(lambda x: set(x) == expected_years_range)).all()

if all_years_match:
    print("Todos municípios tem dados para todos os anos esperados.")

Todos municípios tem dados para todos os anos esperados.

In [22]:
# Filtragem de anos pro df4
df4_restrito = df4[(df4['ano'] == 2013) | (df4['ano'] == 2014) | (df4['ano'] == 2015) | (df4['ano'] == 2016) | (df4['ano'] == 2017) | (df4['ano'] == 2018) | (df4['ano'] == 2019) | (df4['ano'] == 2020)].copy()

display(df4_restrito.shape)

(5168, 5)

In [23]:
df3.isnull().sum()

ano          0
cod_ibge     0
n_fam_rua    0
dtype: int64

In [24]:
df4_restrito

       ano  cod_ibge  pes_rf_ate_meio_sm  pes_insc_cadun perc_rf_ate_meio_sm
4     2020        35             8524275        10685553                79,8
5     2019        35             8455169        10859041                77,9
6     2018        35             8263861        10309786                80,2
7     2017        35             8839373        10536889                83,9
8     2016        35             8543383        10460801                81,7
...    ...       ...                 ...             ...                 ...
7747  2013   3557006               21894           23221                94,3
7748  2013   3557105               24078           32482                74,1
7749  2013   3557154                 552             687                80,3
7750  2013   3557204                4379            4943                88,6
7751  2013   3557303                2601            2744                94,8

[5168 rows x 5 columns]

In [25]:
df4_restrito.query('cod_ibge != 35')

       ano  cod_ibge  pes_rf_ate_meio_sm  pes_insc_cadun perc_rf_ate_meio_sm
2592  2020   3500105                3132            5109                61,3
2593  2020   3500204                1183            1749                67,6
2594  2020   3500303                8013            9548                83,9
2595  2020   3500402                1331            2019                65,9
2596  2020   3500501                2386            3207                74,4
...    ...       ...                 ...             ...                 ...
7747  2013   3557006               21894           23221                94,3
7748  2013   3557105               24078           32482                74,1
7749  2013   3557154                 552             687                80,3
7750  2013   3557204                4379            4943                88,6
7751  2013   3557303                2601            2744                94,8

[5160 rows x 5 columns]

# Dataset CadÚnico #2 (2018+)

https://repositorio.seade.gov.br/dataset/transferencia-de-renda-painel

In [26]:
df5 = pd.read_csv("bd_cad_pbf.csv", sep = ";", encoding='latin-1')
df6 = pd.read_csv("br_sp_var.csv", sep = ";", encoding='latin-1')
df7 = pd.read_csv("bd_bpc.csv", sep = ";", encoding='latin-1') #o gdown não conseguiu puxar
df8 = pd.read_csv("uf.csv", sep = ";", encoding='latin-1')

C:\Users\gusta\AppData\Local\Temp\ipykernel_7244\1444728384.py:1: DtypeWarning: Columns (5,6,8,9,13,15,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv("bd_cad_pbf.csv", sep = ";", encoding='latin-1')

In [27]:
!gdown

usage: gdown [-h] [-V] [-O OUTPUT] [-q] [--fuzzy] [--id] [--proxy PROXY]
             [--speed SPEED] [--no-cookies] [--no-check-certificate]
             [--continue] [--folder] [--remaining-ok] [--format FORMAT]
             [--user-agent USER_AGENT]
             url_or_id
gdown: error: the following arguments are required: url_or_id

In [28]:
df5dic = pd.read_csv("bd_cad_pbf_dicionario.csv", sep = ";", encoding='latin-1')
df6dic = pd.read_csv("br_sp_var_dicionario.csv", sep = ";", encoding='latin-1')
df7dic = pd.read_csv("bd_bpc_dicionario.csv", sep = ";", encoding='latin-1')
df8dic = pd.read_csv("uf_dicionario.csv", sep = ";", encoding='latin-1')

## Cadastro Único - Programa Bolsa Família (PBF) - ESP

In [29]:
df5.head()

,Cod_Mun,Mun,RA,Referência,Pes_PBF,Pes_Cad,Fam_Cad,Fam_PBF,Domic_20,Pop_20,...,MapSeq,F_PBF_EP,F_CAD_EP,Pes_Aux,Fam_Aux,Fam_PBF_Aux,Fam_PBF_2,F_Aux_Domi,Map_Aux,MapSeq_Aux
0,3500105,Adamantina,RA de Presidente Prudente,jan/18,1012.0,5306,1871,291.0,12328,33894,...,4,72,85.0,1012,NaN,291.0,NaN,NaN,NaN,NaN
1,3500204,Adolfo,RA de São José do Rio Preto,jan/18,552.0,1559,581,175.0,1280,3447,...,3,124,148.0,552,NaN,175.0,NaN,NaN,NaN,NaN
2,3500303,Aguaí,RA de Campinas,jan/18,5074.0,12637,4213,1402.0,12063,35608,...,3,680,809.0,5074,NaN,1402.0,NaN,NaN,NaN,NaN
3,3500402,Águas da Prata,RA de Campinas,jan/18,577.0,1749,542,144.0,2780,7797,...,4,85,104.0,577,NaN,144.0,NaN,NaN,NaN,NaN
4,3500501,Águas de Lindóia,RA de Campinas,jan/18,953.0,2510,868,297.0,6305,18374,...,4,148,186.0,953,NaN,297.0,NaN,NaN,NaN,NaN

In [30]:
df5.shape

(57405, 22)

In [31]:
df5dic

,Variáveis,Nome,Fonte
0,Cod_Mun,Códido do Município,IBGE
1,Mun,Nome do Município,IBGE
2,RA,Nome da Região Administrativa,Fundação Seade.
3,Referência,Data (mês e ano),Ministério do Desenvolvimento e Assistência So...
4,Pes_PBF,Número de pessoas beneficiárias do Programa Bo...,Ministério do Desenvolvimento e Assistência So...
5,Pes_Cad,Número de pessoas inscritas no CadÚnico,Ministério do Desenvolvimento e Assistência So...
6,Fam_Cad,Número de famílias incritas no CadÚnico,Ministério do Desenvolvimento e Assistência So...
7,Fam_PBF,Número de famílias beneficiárias do PBF,Ministério do Desenvolvimento e Assistência So...
8,Domic_20,Número de domicílios,Fundação Seade. Estimativas Populacionais. IBG...
9,Pop_20,Número de pessoas,Fundação Seade. Estimativas Populacionais. IBG...
10,F_PBF_Domi,Participação das famílias beneficiárias do PBF...,Fundação Seade.
11,Map,Legenda do mapas,Fundação Seade.
12,MapSeq,Sequeência da legenda do mapa,Fundação Seade.
13,F_PBF_EP,Número de famílias beneficiárias do PBF com re...,Ministério do Desenvolvimento e Assistência So...
14,F_CAD_EP,Número de famílias inscritas no Cadúnico com r...,Ministério do Desenvolvimento e Assistência So...

In [32]:
num_unique_cod_mun_df5 = df5['Cod_Mun'].nunique()
print(f"Number of unique Cod_Mun in df5: {num_unique_cod_mun_df5}")

Number of unique Cod_Mun in df5: 645

In [33]:
df5[['mes', 'ano']] = df5['Referência'].str.split('/', expand=True)

In [34]:
df5.ano.unique()

array(['18', '19', '20', '21', '22', '23', '24', '25'], dtype=object)

In [35]:
df5[df5['ano'].isin(['18', '19', '20'])]

,Cod_Mun,Mun,RA,Referência,Pes_PBF,Pes_Cad,Fam_Cad,Fam_PBF,Domic_20,Pop_20,...,F_CAD_EP,Pes_Aux,Fam_Aux,Fam_PBF_Aux,Fam_PBF_2,F_Aux_Domi,Map_Aux,MapSeq_Aux,mes,ano
0,3500105,Adamantina,RA de Presidente Prudente,jan/18,1012.0,5306,1871,291.0,12328,33894,...,85.0,1012,NaN,291.0,NaN,NaN,NaN,NaN,jan,18
1,3500204,Adolfo,RA de São José do Rio Preto,jan/18,552.0,1559,581,175.0,1280,3447,...,148.0,552,NaN,175.0,NaN,NaN,NaN,NaN,jan,18
2,3500303,Aguaí,RA de Campinas,jan/18,5074.0,12637,4213,1402.0,12063,35608,...,809.0,5074,NaN,1402.0,NaN,NaN,NaN,NaN,jan,18
3,3500402,Águas da Prata,RA de Campinas,jan/18,577.0,1749,542,144.0,2780,7797,...,104.0,577,NaN,144.0,NaN,NaN,NaN,NaN,jan,18
4,3500501,Águas de Lindóia,RA de Campinas,jan/18,953.0,2510,868,297.0,6305,18374,...,186.0,953,NaN,297.0,NaN,NaN,NaN,NaN,jan,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23215,3557006,Votorantim,RA de Sorocaba,dez/20,10294.0,20361,7163,3412.0,39510,119824,...,3158.0,10294,NaN,3412.0,NaN,NaN,NaN,NaN,dez,20
23216,3557105,Votuporanga,RA de São José do Rio Preto,dez/20,6709.0,20422,8686,2559.0,34514,91760,...,2683.0,6709,NaN,2559.0,NaN,NaN,NaN,NaN,dez,20
23217,3557154,Zacarias,RA de São José do Rio Preto,dez/20,272.0,1207,453,84.0,952,2560,...,49.0,272,NaN,84.0,NaN,NaN,NaN,NaN,dez,20
23218,3557204,Chavantes,RA de Marília,dez/20,2018.0,4012,1442,642.0,4049,12223,...,615.0,2018,NaN,642.0,NaN,NaN,NaN,NaN,dez,20
23219,3557303,Estiva Gerbi,RA de Campinas,dez/20,958.0,2415,878,333.0,3629,11079,...,344.0,958,NaN,333.0,NaN,NaN,NaN,NaN,dez,20

In [36]:
df5_restrito = df5[(df5['ano'] == '18') | (df5['ano'] == '19') | (df5['ano'] == '20')]

In [37]:
df5_restrito.shape

(23220, 24)

In [38]:
df5_restrito.isnull().sum()

Cod_Mun            0
Mun                0
RA                 0
Referência         0
Pes_PBF            0
Pes_Cad            0
Fam_Cad            0
Fam_PBF            0
Domic_20           0
Pop_20             0
F_PBF_Domi         0
Map                0
MapSeq             0
F_PBF_EP           0
F_CAD_EP           0
Pes_Aux            0
Fam_Aux        23220
Fam_PBF_Aux        0
Fam_PBF_2      23220
F_Aux_Domi     23220
Map_Aux        23220
MapSeq_Aux     23220
mes                0
ano                0
dtype: int64

In [39]:
df5.isnull().sum()

Cod_Mun            0
Mun                0
RA                 0
Referência         0
Pes_PBF        27735
Pes_Cad            0
Fam_Cad            0
Fam_PBF        27735
Domic_20           0
Pop_20             0
F_PBF_Domi         0
Map                0
MapSeq             0
F_PBF_EP        1290
F_CAD_EP           5
Pes_Aux            0
Fam_Aux        47085
Fam_PBF_Aux        0
Fam_PBF_2      39990
F_Aux_Domi     39345
Map_Aux        39345
MapSeq_Aux     39345
mes                0
ano                0
dtype: int64

## Cadastro Único - Programa Bolsa Família - Brasil e ESP

In [40]:
df6.head()

,Anomes,BR_CAD_F,BR_PBF_F,BR_PBF_FV,SP_CAD_F,SP_PBF_F,SP_PBF_FV,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,2018-01,23.426.757,12.436.457,NaN,3.868.154,1.564.882,NaN,NaN,NaN,NaN
1,2018-02,23.651.349,12.497.668,"0,5",3.915.457,1.583.160,"1,2",NaN,NaN,NaN
2,2018-03,22.913.242,12.564.170,"0,5",3.785.046,1.600.868,"1,1",NaN,NaN,NaN
3,2018-04,23.195.047,12.249.285,"-2,5",3.842.336,1.523.619,"-4,8",NaN,NaN,NaN
4,2018-05,23.547.867,12.380.654,"1,1",3.917.587,1.538.775,"1,0",NaN,NaN,NaN

In [41]:
df6dic

,Variáveis,Nome,Fonte,Nota
0,Anomes,Data (mês e ano),Ministério do Desenvolvimento e Assistência So...,NaN
1,BR_CAD_F,Número de famílias inscritas no CadÚnico (Bras...,Ministério do Desenvolvimento e Assistência So...,NaN
2,BR_PBF_F,Número de famílias beneficiárias do PBF (Brasi...,Ministério do Desenvolvimento e Assistência So...,O Programa Bolsa Família - PBF esteve vigente ...
3,NaN,NaN,NaN,NaN
4,BR_PBF_FV,Variação percentual do número de famílias bene...,Fundação Seade.,NaN
5,SP_CAD_F,Número de famílias inscritas no CadÚnico (Esta...,Ministério do Desenvolvimento e Assistência So...,NaN
6,SP_PBF_F,Número de famílias beneficiárias do PBF (Estad...,Ministério do Desenvolvimento e Assistência So...,O Programa Bolsa Família - PBF esteve vigente ...
7,NaN,NaN,NaN,NaN
8,SP_PBF_FV,Variação percentual do número de famílias bene...,Fundação Seade.,NaN

In [42]:
df6[['Ano', 'Mes']] = df6['Anomes'].str.split('-', expand=True)
display(df6.head())

,Anomes,BR_CAD_F,BR_PBF_F,BR_PBF_FV,SP_CAD_F,SP_PBF_F,SP_PBF_FV,Unnamed: 7,Unnamed: 8,Unnamed: 9,Ano,Mes
0,2018-01,23.426.757,12.436.457,NaN,3.868.154,1.564.882,NaN,NaN,NaN,NaN,2018,01
1,2018-02,23.651.349,12.497.668,"0,5",3.915.457,1.583.160,"1,2",NaN,NaN,NaN,2018,02
2,2018-03,22.913.242,12.564.170,"0,5",3.785.046,1.600.868,"1,1",NaN,NaN,NaN,2018,03
3,2018-04,23.195.047,12.249.285,"-2,5",3.842.336,1.523.619,"-4,8",NaN,NaN,NaN,2018,04
4,2018-05,23.547.867,12.380.654,"1,1",3.917.587,1.538.775,"1,0",NaN,NaN,NaN,2018,05

In [43]:
for i in range(7, 10):
    col_name = df6.columns[i]
    is_all_nan = df6[col_name].isnull().all()
    print(f"Column '{col_name}' (index {i}) is all NaN: {is_all_nan}")

Column 'Unnamed: 7' (index 7) is all NaN: True
Column 'Unnamed: 8' (index 8) is all NaN: True
Column 'Unnamed: 9' (index 9) is all NaN: True

In [44]:
colunas_nulas = ['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']
df6.drop(colunas_nulas, axis=1, inplace=True)
df6.drop('Anomes', axis =1, inplace = True)

In [45]:
df6.shape

(96, 8)

In [46]:
meses_por_ano = df6.groupby('Ano')['Mes'].nunique()
meses_por_ano

Ano
2018    12
2019    12
2020    12
2021    12
2022    12
2023    12
2024    12
2025     5
Name: Mes, dtype: int64

Se o shape é (96,7), eu estou esperando 96 instâncias, entretanto, acima só existem 89. Vou tentar descobrir abaico onde estão as restantes.

In [47]:
colunas_sem_ano = df6[df6['Ano'].isnull()]
display(colunas_sem_ano)

   BR_CAD_F BR_PBF_F BR_PBF_FV SP_CAD_F SP_PBF_F SP_PBF_FV  Ano  Mes
89      NaN      NaN       NaN      NaN      NaN       NaN  NaN  NaN
90      NaN      NaN       NaN      NaN      NaN       NaN  NaN  NaN
91      NaN      NaN       NaN      NaN      NaN       NaN  NaN  NaN
92      NaN      NaN       NaN      NaN      NaN       NaN  NaN  NaN
93      NaN      NaN       NaN      NaN      NaN       NaN  NaN  NaN
94      NaN      NaN       NaN      NaN      NaN       NaN  NaN  NaN
95      NaN      NaN       NaN      NaN      NaN       NaN  NaN  NaN

Faz sentido que elas estejam aqui para um dia serem preenchidas com os demais dados de 2025? Sim. Faz sentidos que elas estejam aqui para esse projeto? Não mesmo.

In [48]:
df6.dropna(how='all', inplace=True)
display(df6.shape)

(89, 8)

In [49]:
df6[df6.isnull().any(axis=1)]

     BR_CAD_F    BR_PBF_F BR_PBF_FV   SP_CAD_F   SP_PBF_F SP_PBF_FV   Ano Mes
0  23.426.757  12.436.457       NaN  3.868.154  1.564.882       NaN  2018  01

Essa linha com NaN é porque o cálculo da variação percentual ao perido anterior, e aqui nao há informação referente a esse período.

## Benefício de Prestação Continuada (BPC) - ESP

In [50]:
df7.head()

,Cod_Mun,Mun,RA,Referência,PCD_BPC,Ido_BPC,Bem_BPC,Pop_65_mais,Pop_2020,Ido_BPC_Idoso65%,BPC_Pop%,Map,MapSeq,65_menos_Idoso_BPC,Unnamed: 14
0,3500105,Adamantina,RA de Presidente Prudente,jan/18,384.0,206.0,590,5282,33894,"3,9","1,7","1 a 1,9",3,5076.0,NaN
1,3500204,Adolfo,RA de São José do Rio Preto,jan/18,21.0,19.0,40,521,3447,"3,6","1,2","1 a 1,9",3,502.0,NaN
2,3500303,Aguaí,RA de Campinas,jan/18,337.0,184.0,521,3527,35608,"5,2","1,5","1 a 1,9",3,3343.0,NaN
3,3500402,Águas da Prata,RA de Campinas,jan/18,47.0,79.0,126,1236,7797,"6,4","1,6","1 a 1,9",3,1157.0,NaN
4,3500501,Águas de Lindóia,RA de Campinas,jan/18,161.0,129.0,290,2301,18374,"5,6","1,6","1 a 1,9",3,2172.0,NaN

In [51]:
df7dic

,Variáveis,Nome,Fonte
0,Cod_Mun,Códido do Município,IBGE
1,Mun,Nome do Município,IBGE
2,RA,Nome da Região Administrativa,Fundação Seade.
3,Referência,Data (mês e ano),Ministério do Desenvolvimento e Assistência So...
4,PCD_BPC,Número de pessoas com decifiência beneficiária...,Ministério do Desenvolvimento e Assistência So...
5,Ido_BPC,Número de pessoas idosas beneficiárias do BPC,Ministério do Desenvolvimento e Assistência So...
6,Bem_BPC,Número de pessoas beneficiárias do BPC,Ministério do Desenvolvimento e Assistência So...
7,Pop_65_mais,Número de pessoas com 65 anos ou mais,Fundação Seade. Estimativas Populacionais.
8,Pop_2021,Número de pessoas,Fundação Seade. Estimativas Populacionais.
9,Ido_BPC_Idoso65%,Participação de pessoas idosas beneficiárias d...,Fundação Seade.
10,BPC_Pop%,Participação de beneficiários do BPC na população,Fundação Seade.
11,Map,Legenda do mapa,Fundação Seade.
12,MapSeq,Sequência da legenda do mapa,Fundação Seade.
13,65_menos_Idoso_BPC,Pessoas de 65 anos ou mais não beneficiárias d...,Fundação Seade.
14,NaN,NaN,NaN
15,NaN,NaN,NaN
16,NaN,NaN,NaN
17,NaN,NaN,NaN

In [52]:
print(df7.iloc[:, -1].isnull().all())

True

In [53]:

if df7.iloc[:, -1].isnull().all():
    # Drop the last column
    df7.drop(df7.columns[-1], axis=1, inplace=True)
    print("Dropada.")
else:
    print("Existiam valores. Mais análise é necessária.")

# Display the shape to confirm
print("Shape")
display(df7.shape)

Dropada.
Shape

(57405, 14)

In [54]:
df7[['mes', 'ano']] = df7['Referência'].str.split('/', expand=True)

In [55]:
df7['Mun'] = df7['Mun'].str.title()
display(df7[['Cod_Mun', 'Mun']].head())

   Cod_Mun               Mun
0  3500105        Adamantina
1  3500204            Adolfo
2  3500303             Aguaí
3  3500402    Águas Da Prata
4  3500501  Águas De Lindóia

In [56]:
df7[df7.isnull().any(axis=1)]

,Cod_Mun,Mun,RA,Referência,PCD_BPC,Ido_BPC,Bem_BPC,Pop_65_mais,Pop_2020,Ido_BPC_Idoso65%,BPC_Pop%,Map,MapSeq,65_menos_Idoso_BPC,mes,ano
51036,3507209,Borá,RA de Marília,ago/24,NaN,NaN,NaN,93,810,NaN,NaN,NaN,NaN,NaN,ago,24
51057,3509106,Caiuá,RA de Presidente Prudente,ago/24,NaN,NaN,NaN,760,5729,NaN,NaN,NaN,NaN,NaN,ago,24
51424,3541802,Queiroz,RA de Marília,ago/24,NaN,NaN,NaN,308,3400,NaN,NaN,NaN,NaN,NaN,ago,24
51433,3542701,Restinga,RA de Franca,ago/24,NaN,NaN,NaN,702,7740,"0,00",NaN,NaN,NaN,702.0,ago,24
51444,3543600,Rifaina,RA de Franca,ago/24,NaN,NaN,NaN,509,3474,NaN,NaN,NaN,NaN,NaN,ago,24
51579,3555703,União Paulista,RA de São José do Rio Preto,ago/24,NaN,NaN,NaN,215,1775,NaN,NaN,NaN,NaN,NaN,ago,24

In [57]:
df7

,Cod_Mun,Mun,RA,Referência,PCD_BPC,Ido_BPC,Bem_BPC,Pop_65_mais,Pop_2020,Ido_BPC_Idoso65%,BPC_Pop%,Map,MapSeq,65_menos_Idoso_BPC,mes,ano
0,3500105,Adamantina,RA de Presidente Prudente,jan/18,384.0,206.0,590,5282,33894,"3,9","1,7","1 a 1,9",3,5076.0,jan,18
1,3500204,Adolfo,RA de São José do Rio Preto,jan/18,21.0,19.0,40,521,3447,"3,6","1,2","1 a 1,9",3,502.0,jan,18
2,3500303,Aguaí,RA de Campinas,jan/18,337.0,184.0,521,3527,35608,"5,2","1,5","1 a 1,9",3,3343.0,jan,18
3,3500402,Águas Da Prata,RA de Campinas,jan/18,47.0,79.0,126,1236,7797,"6,4","1,6","1 a 1,9",3,1157.0,jan,18
4,3500501,Águas De Lindóia,RA de Campinas,jan/18,161.0,129.0,290,2301,18374,"5,6","1,6","1 a 1,9",3,2172.0,jan,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57400,3557006,Votorantim,RA de Sorocaba,mai/25,825.0,809.0,1634,12340,122356,"6,56","1,34","1 a 1,9",3,11531.0,mai,25
57401,3557105,Votuporanga,RA de São José do Rio Preto,mai/25,1679.0,1151.0,2830,13230,93066,"8,70","3,04",3 e mais,1,12079.0,mai,25
57402,3557154,Zacarias,RA de São José do Rio Preto,mai/25,19.0,5.0,24,373,2602,"1,34","0,92","0 a 0,9",4,368.0,mai,25
57403,3557204,Chavantes,RA de Marília,mai/25,186.0,111.0,297,1591,12241,"6,98","2,43","2 a 2,9",2,1480.0,mai,25
57404,3557303,Estiva Gerbi,RA de Campinas,mai/25,98.0,88.0,186,1220,11313,"7,21","1,64","1 a 1,9",3,1132.0,mai,25

In [58]:
# Filtrar por Ano
df7_restrito = df7[(df7['ano'] == '20') | (df7['ano'] == '19') | (df7['ano'] == '18')].copy()

display(df7_restrito.shape)

(23220, 16)

## Cadastro Único por Unidade da Federação

In [59]:
df8.head()

,Cod,UF,Referência,CAD,PBF,Domic,CAD_Par,PBF_Par
0,11,RONDÔNIA,mai/25,357.491,133.495,555.023,"64,4","24,1"
1,12,ACRE,mai/25,207.562,132.431,260.997,"79,5","50,7"
2,13,AMAZONAS,mai/25,1.047.834,644.977,1.079.752,"97,0","59,7"
3,14,RORAIMA,mai/25,146.771,80.590,177.337,"82,8","45,4"
4,15,PARÁ,mai/25,2.256.997,1.345.437,2.442.494,"92,4","55,1"

In [60]:
df8.shape

(27, 8)

In [61]:
df8.isnull().sum()

Cod           0
UF            0
Referência    0
CAD           0
PBF           0
Domic         0
CAD_Par       0
PBF_Par       0
dtype: int64

# Agrupando Datasets

Familias em situação de rua (df3) + Renda Domiciliar Per Capita abaixo de meio salário mínimo (df4) + Programa Bolsa Família Brasil e ESP (df5) + Benefício de Prestação Continuada (BPC) ESP (df7)

O agrupamento foi realizado a partir do município e do ano, no período de 2018 a 2020. Os df5 e df7 tinham a referência de ano e mês. Nesse caso, o agregamento foi realizado a partir do valor médio do ano

In [64]:

# 1. Filtrar df3 e df4 para remover o código estadual "35"
df3_limpo = df3_restrito.query("cod_ibge != 35").copy()
df4_limpo = df4_restrito.query("cod_ibge != 35").copy()

# Padronizar nome da coluna
df3_limpo = df3_limpo.rename(columns={"cod_ibge": "Cod_Mun"})
df4_limpo = df4_limpo.rename(columns={"cod_ibge": "Cod_Mun"})

# 2. Extrair ano em df5 e df7
for df in [df5, df7]:
    df["ano"] = (
        df["Referência"]
        .str.extract(r"(\d{2})$")[0]   # pega os dois últimos dígitos
        .astype(int)
        .apply(lambda x: 2000 + x if x < 50 else 1900 + x)
    )

# 3. Calcular média anual por município (df5 e df7)
df5_ano = df5.groupby(["Cod_Mun", "ano"], as_index=False).mean(numeric_only=True)
df7_ano = df7.groupby(["Cod_Mun", "ano"], as_index=False).mean(numeric_only=True)

# 4. Merge de todos os DataFrames
df_merged = (
    df3_limpo
    .merge(df4_limpo, on=["Cod_Mun", "ano"], how="outer")
    .merge(df5_ano, on=["Cod_Mun", "ano"], how="outer")
    .merge(df7_ano, on=["Cod_Mun", "ano"], how="outer")
)

# 5. Limpeza final
df_merged = df_merged.sort_values(["Cod_Mun", "ano"]).reset_index(drop=True)

print(df_merged.head())
print(f"\nShape final: {df_merged.shape}")

    ano  Cod_Mun  n_fam_rua  pes_rf_ate_meio_sm  pes_insc_cadun  \
0  2013  3500105        0.0              8027.0          9360.0
1  2014  3500105        0.0              8070.0          9582.0
2  2015  3500105        0.0              4782.0          6310.0
3  2016  3500105        0.0              3478.0          4960.0
4  2017  3500105        0.0              3369.0          5270.0

  perc_rf_ate_meio_sm  Pes_PBF  Fam_PBF  MapSeq  F_CAD_EP  Fam_Aux  \
0                85,8      NaN      NaN     NaN       NaN      NaN
1                84,2      NaN      NaN     NaN       NaN      NaN
2                75,8      NaN      NaN     NaN       NaN      NaN
3                70,1      NaN      NaN     NaN       NaN      NaN
4                63,9      NaN      NaN     NaN       NaN      NaN

   Fam_PBF_Aux  Fam_PBF_2  MapSeq_Aux  PCD_BPC  Ido_BPC  Pop_65_mais  \
0          NaN        NaN         NaN      NaN      NaN          NaN
1          NaN        NaN         NaN      NaN      NaN          NaN
2          NaN        NaN         NaN      NaN      NaN          NaN
3          NaN        NaN         NaN      NaN      NaN          NaN
4          NaN        NaN         NaN      NaN      NaN          NaN

   Pop_2020  65_menos_Idoso_BPC
0       NaN                 NaN
1       NaN                 NaN
2       NaN                 NaN
3       NaN                 NaN
4       NaN                 NaN

Shape final: (8385, 19)

In [67]:
anos = [2018, 2019, 2020]
df_merged[df_merged['ano'].isin(anos)]

,ano,Cod_Mun,n_fam_rua,pes_rf_ate_meio_sm,pes_insc_cadun,perc_rf_ate_meio_sm,Pes_PBF,Fam_PBF,MapSeq,F_CAD_EP,Fam_Aux,Fam_PBF_Aux,Fam_PBF_2,MapSeq_Aux,PCD_BPC,Ido_BPC,Pop_65_mais,Pop_2020,65_menos_Idoso_BPC
5,2018,3500105,4.0,2838.0,4976.0,57,943.583333,284.916667,4.000000,96.583333,NaN,284.916667,NaN,NaN,391.250000,204.333333,5282.0,33894.0,5077.666667
6,2019,3500105,5.0,3050.0,5465.0,"55,8",876.250000,282.333333,4.000000,127.166667,NaN,282.333333,NaN,NaN,406.500000,193.166667,5282.0,33894.0,5088.833333
7,2020,3500105,5.0,3132.0,5109.0,"61,3",999.083333,339.666667,4.000000,181.166667,NaN,339.666667,NaN,NaN,391.500000,197.750000,5282.0,33894.0,5084.250000
18,2018,3500204,1.0,1091.0,1742.0,"62,6",508.666667,162.583333,3.000000,140.000000,NaN,162.583333,NaN,NaN,20.166667,20.583333,521.0,3447.0,500.416667
19,2019,3500204,1.0,1106.0,1757.0,"62,9",447.833333,144.666667,3.000000,135.750000,NaN,144.666667,NaN,NaN,21.500000,24.750000,521.0,3447.0,496.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8365,2019,3557204,4.0,3572.0,4204.0,85,2105.583333,665.583333,3.000000,563.083333,NaN,665.583333,NaN,NaN,122.333333,80.750000,1471.0,12223.0,1390.250000
8366,2020,3557204,5.0,3466.0,4012.0,"86,4",2021.166667,637.416667,3.000000,610.083333,NaN,637.416667,NaN,NaN,133.833333,91.083333,1471.0,12223.0,1379.916667
8377,2018,3557303,3.0,2217.0,2649.0,"83,7",1121.666667,347.666667,3.916667,236.916667,NaN,347.666667,NaN,NaN,54.666667,40.083333,1055.0,11079.0,1014.916667
8378,2019,3557303,3.0,2206.0,2616.0,"84,3",1000.333333,324.833333,4.000000,280.000000,NaN,324.833333,NaN,NaN,56.250000,41.916667,1055.0,11079.0,1013.083333
8379,2020,3557303,3.0,2102.0,2415.0,87,957.916667,321.666667,4.000000,329.250000,NaN,321.666667,NaN,NaN,58.250000,42.416667,1055.0,11079.0,1012.583333

In [68]:
df_merged[df_merged['ano'].isin(anos)].isnull().sum()

ano                       0
Cod_Mun                   0
n_fam_rua                 0
pes_rf_ate_meio_sm        0
pes_insc_cadun            0
perc_rf_ate_meio_sm       0
Pes_PBF                   0
Fam_PBF                   0
MapSeq                    0
F_CAD_EP                  0
Fam_Aux                1935
Fam_PBF_Aux               0
Fam_PBF_2              1935
MapSeq_Aux             1935
PCD_BPC                   0
Ido_BPC                   0
Pop_65_mais               0
Pop_2020                  0
65_menos_Idoso_BPC        0
dtype: int64

In [69]:
df_merged = df_merged[df_merged['ano'].isin(anos)]

In [70]:
#df_merged.to_csv('../cadunico/df_cad_merged.csv', index=False)